<article class="speakerslist jumbotron d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col-md text-center">
        <h4 class="speakerslist-title">Art in Fool Bloom</h4>
        <div class="speakerslist-name">with
          <a href="#">Lorenzo Garcia</a>
        </div>
        <div class="speakerslist-info mt-2"> <a href="#">
            <img class="speakerslist-img rounded-circle" src="./images/speakers/Lorenzo_Garcia_tn.jpg"
              alt="Photo of Lorenzo Garcia">
          </a>
        </div>
      </div>
      <div class="col-md text-center">
        <h4 class="speakerslist-title">Deep Sea Wonders</h4>
        <div class="speakerslist-name">with
          <a href="./Hillary_Goldwynn.html">Hilary Goldywynn Post</a>
        </div>
        <p class="speakerslist-info mt-2"> <a href="./Hillary_Goldwynn.html">
            <img class="speakerslist-img rounded-circle" src="./images/speakers/Hillary_Goldwynn_tn.jpg"
              alt="Photo of Hilary Goldywynn Post">
          </a>
        </p>
      </div>
      <div class="col-md text-center">
        <h4 class="speakerslist-title">The Art of Abstract</h4>
        <div class="speakerslist-name">with
          <a href="#">Riley Rudolph Rewington</a>
        </div>
        <p class="speakerslist-info mt-2"> <a href="#">
            <img class="speakerslist-img rounded-circle" src="./images/speakers/Riley_Rewington_tn.jpg"
              alt="Photo of Riley Rudolph Rewington">
          </a>
        </p>
      </div>
    </div>
  </div>
</article>